<div class="section-container" (window:resize)="onResize($event)">
  <h2 style="color: #191f26; margin-bottom: 15px;">
    Latest Orders
  </h2>
    <ag-grid-angular
    style="width: 100%; height: 562px;"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [frameworkComponents]="frameworkComponents"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [gridOptions]="gridOptions"
    (firstDataRendered)="onFirstDataRendered($event)"
    [defaultColDef]="defaultColDef"
  >
  </ag-grid-angular>
</div>
